html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Ubuntu', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 103px 26px 82px;
  background: #2E948A;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}
header
    .nav{
        display: flex;
        list-style: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0px;
         }
header
    .nav > li {
        padding: 0px 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-transform: uppercase;
        font-family: ubuntu;
        color: white;
}
a{                                  /*mudar a cor dos links*/
  font-size: 18px;
  color: white;
  
}
.section1
main{
  align-items: center;
  justify-content: space-between;
  padding: 20px 103px 26px 82px;
  background: white;
  box-shadow: 0px 3px 7px 0.25;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}
h1{
    font-family: ubuntu; 
    font-size: 60px;
    margin-bottom: 10px;
    line-height: normal;
    font-weight: 700;
    font-family:ubuntu; 
    color: #FF4081
  }
p{
      font-family: ubuntu; 
      font-size: 27px;
      line-height: normal;
      margin-top: 10px;
      margin-bottom: 20px;
      font-weight: 400px;
      font-family: ubuntu;
      color: #555555
}
form [type="text"]{
  font-family: ubuntu; 
  text-align: center;
  height: 20px;
  width: 216px;  
  background-color: white;
  font-weight: normal;
  
}
input{
  border: 2px solid #FF4081;
  border-radius: 62px;
  width: 268px;
  height: 51px;
  padding-top: 5px;
  padding-bottom: 5px;
 

img{
  width: 10px;
}

.section2













}
  

